.leftProduct{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 60px;
    padding: 100px;
}
.detailProductTittle{
    font-size: 20px;
    font-weight: 400;
    color: #4F5665;
    margin-left: 150px;
    margin-top: 52px;
}
.imgDetailProduct{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.delivery{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding: 27px 30px;
    width: 80%;
    row-gap: 30px;
}
.delivTitle{
font-size: 25px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
}
.deliveryMethod{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dineIn{
    background: #F4F4F8;
    border: 1px solid rgba(186, 186, 186, 0.35);
    border-radius: 10px;
    padding: 6px 9px;
    margin-right: 30px;
    cursor: pointer;
    color: #9F9F9F;
    font-size: 20px;
    font-weight: 400;
}
.dineInActive {
    background-color: #6A4029;
    color: #F4F4F8;
    font-weight: 700;
    box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
    border: 1px solid rgba(186, 186, 186, 0.35);
    border-radius: 10px;
    padding: 6px 9px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
}
.dineIn:active{
    background-color: #6A4029;
    color: #F4F4F8;
    font-weight: 700;
    box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
}
.dineIn:hover{
    background-color: #6A4029;
    color: #F4F4F8;
    font-weight: 700;
    box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
}
.setTime {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.now{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
}
.plus, .minus{
    cursor: pointer;
}
.inputSetTime{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}
.inputTime{
    background: #F4F4F8;
    border: 1px solid rgba(186, 186, 186, 0.35);
    border-radius: 10px;
    padding: 6px 9px;
}
.setTimeText{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
}
.rightProduct{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px;
    row-gap: 40px;
}
.productTitleDetail {
    font-size: 65px;
    font-weight: 600;
}
.productDesc{
    font-size: 25px;
    font-weight: 400;
    color: #6A4029;
}
.timeDeliveryText{
    font-size: 25px;
    font-weight: 400;
    color: #6A4029;
    width: 100%;
}
.count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.countButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 14px 18px;
    font-size: 25px;
    font-weight: 700;
}
.priceDetail{
    font-size: 35px;
    font-weight: 700;
    color: #6A4029;
}
.linktoCart{
    font-size: 25px;
    font-weight: 700;
    color: #F4F4F8;
    border-radius: 20px;
    background-color: #6A4029;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 220px;
    cursor: pointer;
}
.linktoCart:hover{
    color: #a8a8cc;
}
.addtoCart{
    border-radius: 20px;
    background-color: #6A4029;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 220px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.addToCart:hover:active{
    background-color: #9e6a4e;
}
.askToStaff{
    border-radius: 20px;
    background-color: #ffba33;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 220px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.askToStaff:hover:active{
    background-color: #ffd47f;
}
.choose{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    padding-top: 40px;
}
.size{
    z-index: 3;
    height: 168px;
    width: 25%;
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 18px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    background-color: #fff;
}
.sizeTitle{
    font-size: 25px;
    font-weight: 700;
}
.sizeRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
}
.sizeRowPick{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6A4029;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
}
.sizeRowNotPick {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffba33;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}
.sizeRowNotPick:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6A4029;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
}
/* .sizeRow:nth-child(1){
    padding: 20px 23px;
    background-color: #6A4029;
} */
.checkOut {
    z-index: 3;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    width: 45%;
    height: 168px;
    position: absolute;
    left: 45%;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
}
.checkOutLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 44%;
}
.checkOutLeft > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.detailOrder >h3{
    font-size: 25px;
    font-weight: 700;
}
.detailOrder >p{
    font-size: 20px;
    font-weight: 400;
}
.checkoutRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkoutRight > span{
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
}
.checkoutRight > img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffba33;
    padding: 30px 30px ;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .choose{
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .size{
        position: relative;
        padding: 20px;
        left: 0;
        width: 35%;
    }
    .checkOut{
        position: relative;
        top: 0;
        margin: 0;
        left: 0;
        width: 50%;
        padding: 20px;
    }
    /* .checkOutLeft > img{
        height: 80px;
        width: 80px;
    } */
    .detailOrder{
        margin-left: 20px;
    }
    .detailOrder > h3{
        font-size: 15px;
    }
    .detailOrder > p{
        font-size: 15px;
        margin-bottom: 0;
    }
    .checkoutRight{
        flex-direction: column;
    }
    .checkoutRight > span{
        margin: 0;
    }
}