.productHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 20px;
    font-weight: 400;
    color: #9F9F9F;
    cursor: pointer;
}
.linkCategory:hover{
    font-weight: 700;
    text-decoration: underline;
    color:#6a4029;
}
.linkCategoryActive{
    font-weight: 700;
    text-decoration: underline;
    color:#6a4029;
}
.linkCategoryActive:hover{
    font-weight: 700;
    text-decoration: underline;
    color:#6a4029;
}
.linkCategory{
    font-size: 20px;
    font-weight: 400;
    color: #9F9F9F;

}
.favoriteProductProducts{
    padding: 30px;
}
.productContainerProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
}
.pencil {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a4029;
    padding: 9px 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: -2px;
}
.productFilter{
    height: 100px;
}
.productFilter>img{
    margin: 0px 30px;
}
.cardProduct{
    width: 156px;
    position: relative;
    height: 212px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
    border-radius: 30px;
}
.imgProductProducts{
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 60%;
    top: -80px;
}
.productName{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #4F5665;
}
.productName:hover{
    color: #6a4029;
}
.priceProducts{
    font-size: 17px;
    font-weight: 700;
    color: #6a4029;
    margin-top: 10%;
}
.paginasiProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;

}
.paginasiProduct > img {
    cursor: pointer;
}
